body{
    font-family: "Noto Serif", serif;
}

.head{
    font-size: 40px;
    padding-left: 20px;
    color: rgb(63, 5, 63); 
    display: inline-block;
    width:1250px;
}

.top{
    background-color:peachpuff;
}

h3{
    position: absolute;
    left: 900px;
    top:10px;
    font-size: 30px;
}

.middle{
    background-color:#e7e5e5;
    margin: 20px;
}

.para{
    font-size: 30px;
    font-style: italic;
    padding-left: 20px;
    padding-top: 120px;
    padding-bottom: 20px;
    height: 380px;
   
}

.image{
    position: absolute;
    top:200px;
    left: 900px;

}

.next{
    background-color:#e7e5e5;
    height:500px;
    margin: 20px;
}

.skill-1{
    margin: 20px;
    font-size: 20px;
    padding-left: 900px;
    padding-top: 80px;
    padding-bottom: 5px;
    font-size: 30px;
    
}

.image2{
    position: absolute;
    left:70px;
    top:750px;
    width: 600px;
    height:400px;

}

.skill-2{
    margin: 20px;
}





.container {
  width: 100%; 
  background-color: #e7e5e5; 
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
}

.Teamwork {width: 90%; background-color: #04AA6D;} 
.TimeManagement {width: 80%; background-color: #2196F3;} 
.ProblemSolving{width: 65%; background-color: #f44336;} 
.HTMLandCSS{width:92%;background-color: coral;}
.Javascript{width:70%;background-color:khaki;}

.projects{
    background-color:#e7e5e5;  
    margin: 20px;
}

.pro1,.pro2{
    border-style: solid;
    border-radius: 30px;
    border-width: 2px;
    display: inline-block;
    display: flexbox;
    justify-content: center;
    margin: 20px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 700px;
    height: 300px;
}

.image3{
    padding-left: 30px;
    width:250px;
    height: 150px;
}

.image4{
    width:250px;
    height: 150px;
    padding-left: 30px;
}

.certificate{
    background-color:#e7e5e5 ;
    margin-left: 20px;
    margin-right: 20px;
}

.certi-1,.certi-2,.certi-3{
    border-style: solid;
    border-radius: 30px;
    border-width: 2px;
    display: flexbox;
    justify-content: space-between;
    margin: 20px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    width:600px;
    height: 400px;
    padding-bottom: -90px;
    margin-top: 40px;
    padding-top:20px;
    text-align: center;
    

}

.image5,.image6,.image7{
    width:250px;
    height: 150px;
    padding-left: 30px;
    margin: 20px;

}

.resume{
    background-color: #e7e5e5;
    margin: 20px;
}

.res{
    border-style: solid;
    border-radius: 30px;
    display: inline-block;
    width: 500px;
    height: 100px;
    border-width: 2px;
    margin: 20px;
    background-color: white;
    
}

.information{
    background-color: black;
    color:white;
    display: block;
    margin: 20px;
    padding: 20px;
}